<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Unboxed Technical Test – Horse</title>
    <link rel="stylesheet" href="/css/horse.css">
  </head>

  <body>
    <div class="tweet">
      <div class="tweet__avatar">
        <img src="/images/horse_js.png" role="presentation">
      </div>

      <div class="tweet__content">
        <div class="tweet-title">
          <span class="tweet-title__username">horse_js</span>
          <span class="tweet-title__timestamp">7 days</span>
        </div>

        <div class="tweet-body">
          as much as I want to be, I'm not <a href="#" class="tweet-body__link">@horse_js</a>
        </div>
      </div>
    </div>
  </body>
</html>
