<p>Hello!</p>

<p>
  Interested in finding out a GitHub user's favourite programming language?
  Fill in the form below.
</p>

<form action="/" method="post">
  <input type="text" name="username" placeholder="GitHub Username">
  <button type="submit">Submit</button>
</form>
