---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/octokit/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1477691560'
      Etag:
      - W/"43a397ba870ebada080efef4a3dfc19c"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":10575811,"name":"go-octokit","full_name":"octokit/go-octokit","owner":{"login":"octokit","id":3430433,"avatar_url":"https://avatars.githubusercontent.com/u/3430433?v=3","gravatar_id":"","url":"https://api.github.com/users/octokit","html_url":"https://github.com/octokit","followers_url":"https://api.github.com/users/octokit/followers","following_url":"https://api.github.com/users/octokit/following{/other_user}","gists_url":"https://api.github.com/users/octokit/gists{/gist_id}","starred_url":"https://api.github.com/users/octokit/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octokit/subscriptions","organizations_url":"https://api.github.com/users/octokit/orgs","repos_url":"https://api.github.com/users/octokit/repos","events_url":"https://api.github.com/users/octokit/events{/privacy}","received_events_url":"https://api.github.com/users/octokit/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/octokit/go-octokit","description":"Simple
        Go wrapper for the GitHub API","fork":false,"url":"https://api.github.com/repos/octokit/go-octokit","forks_url":"https://api.github.com/repos/octokit/go-octokit/forks","keys_url":"https://api.github.com/repos/octokit/go-octokit/keys{/key_id}","collaborators_url":"https://api.github.com/repos/octokit/go-octokit/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/octokit/go-octokit/teams","hooks_url":"https://api.github.com/repos/octokit/go-octokit/hooks","issue_events_url":"https://api.github.com/repos/octokit/go-octokit/issues/events{/number}","events_url":"https://api.github.com/repos/octokit/go-octokit/events","assignees_url":"https://api.github.com/repos/octokit/go-octokit/assignees{/user}","branches_url":"https://api.github.com/repos/octokit/go-octokit/branches{/branch}","tags_url":"https://api.github.com/repos/octokit/go-octokit/tags","blobs_url":"https://api.github.com/repos/octokit/go-octokit/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/octokit/go-octokit/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/octokit/go-octokit/git/refs{/sha}","trees_url":"https://api.github.com/repos/octokit/go-octokit/git/trees{/sha}","statuses_url":"https://api.github.com/repos/octokit/go-octokit/statuses/{sha}","languages_url":"https://api.github.com/repos/octokit/go-octokit/languages","stargazers_url":"https://api.github.com/repos/octokit/go-octokit/stargazers","contributors_url":"https://api.github.com/repos/octokit/go-octokit/contributors","subscribers_url":"https://api.github.com/repos/octokit/go-octokit/subscribers","subscription_url":"https://api.github.com/repos/octokit/go-octokit/subscription","commits_url":"https://api.github.com/repos/octokit/go-octokit/commits{/sha}","git_commits_url":"https://api.github.com/repos/octokit/go-octokit/git/commits{/sha}","comments_url":"https://api.github.com/repos/octokit/go-octokit/comments{/number}","issue_comment_url":"https://api.github.com/repos/octokit/go-octokit/issues/comments{/number}","contents_url":"https://api.github.com/repos/octokit/go-octokit/contents/{+path}","compare_url":"https://api.github.com/repos/octokit/go-octokit/compare/{base}...{head}","merges_url":"https://api.github.com/repos/octokit/go-octokit/merges","archive_url":"https://api.github.com/repos/octokit/go-octokit/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/octokit/go-octokit/downloads","issues_url":"https://api.github.com/repos/octokit/go-octokit/issues{/number}","pulls_url":"https://api.github.com/repos/octokit/go-octokit/pulls{/number}","milestones_url":"https://api.github.com/repos/octokit/go-octokit/milestones{/number}","notifications_url":"https://api.github.com/repos/octokit/go-octokit/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/octokit/go-octokit/labels{/name}","releases_url":"https://api.github.com/repos/octokit/go-octokit/releases{/id}","deployments_url":"https://api.github.com/repos/octokit/go-octokit/deployments","created_at":"2013-06-08T23:50:29Z","updated_at":"2016-10-18T15:56:10Z","pushed_at":"2016-08-13T12:45:59Z","git_url":"git://github.com/octokit/go-octokit.git","ssh_url":"git@github.com:octokit/go-octokit.git","clone_url":"https://github.com/octokit/go-octokit.git","svn_url":"https://github.com/octokit/go-octokit","homepage":"https://github.com/octokit/go-octokit","size":2047,"stargazers_count":172,"watchers_count":172,"language":"Go","has_issues":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":55,"mirror_url":null,"open_issues_count":11,"forks":55,"open_issues":11,"watchers":172,"default_branch":"master"},{"id":7528679,"name":"octokit.net","full_name":"octokit/octokit.net","owner":{"login":"octokit","id":3430433,"avatar_url":"https://avatars.githubusercontent.com/u/3430433?v=3","gravatar_id":"","url":"https://api.github.com/users/octokit","html_url":"https://github.com/octokit","followers_url":"https://api.github.com/users/octokit/followers","following_url":"https://api.github.com/users/octokit/following{/other_user}","gists_url":"https://api.github.com/users/octokit/gists{/gist_id}","s[...]
