---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/mcmillan/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '31'
      X-Ratelimit-Reset:
      - '1477691560'
      Etag:
      - W/"8610306521a2d25bdc246daaf68f185c"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":61555374,"name":"babel-plugin-transform-banter","full_name":"mcmillan/babel-plugin-transform-banter","owner":{"login":"mcmillan","id":1315466,"avatar_url":"https://avatars.githubusercontent.com/u/1315466?v=3","gravatar_id":"","url":"https://api.github.com/users/mcmillan","html_url":"https://github.com/mcmillan","followers_url":"https://api.github.com/users/mcmillan/followers","following_url":"https://api.github.com/users/mcmillan/following{/other_user}","gists_url":"https://api.github.com/users/mcmillan/gists{/gist_id}","starred_url":"https://api.github.com/users/mcmillan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcmillan/subscriptions","organizations_url":"https://api.github.com/users/mcmillan/orgs","repos_url":"https://api.github.com/users/mcmillan/repos","events_url":"https://api.github.com/users/mcmillan/events{/privacy}","received_events_url":"https://api.github.com/users/mcmillan/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/mcmillan/babel-plugin-transform-banter","description":"mess
        with your coworkers ","fork":true,"url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter","forks_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/forks","keys_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/teams","hooks_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/hooks","issue_events_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/issues/events{/number}","events_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/events","assignees_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/assignees{/user}","branches_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/branches{/branch}","tags_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/tags","blobs_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/git/refs{/sha}","trees_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/statuses/{sha}","languages_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/languages","stargazers_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/stargazers","contributors_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/contributors","subscribers_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/subscribers","subscription_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/subscription","commits_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/commits{/sha}","git_commits_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/git/commits{/sha}","comments_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/comments{/number}","issue_comment_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/issues/comments{/number}","contents_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/contents/{+path}","compare_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/merges","archive_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/downloads","issues_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/issues{/number}","pulls_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/pulls{/number}","milestones_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/milestones{/number}","notifications_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/labels{/name}","releases_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/releases{/id}","deployments_url":"https://api.github.com/repos/mcmillan/babel-plugin-transform-banter/deployments","created_at":"2016-06-20T14:46:54Z","updated_at":"2016-06-20T14:46:55Z","pushed_at":"2016-06-20T15:34:50Z","git_url":"git://github.com/mcmillan/babel-plugin-transform-banter.git","ssh_url":"git@github.com:mcmillan/babel-plugin-transform-banter.git","clone_url":"https://github.com/mcmillan/babel-plugin-transform-banter.git","svn_url":"https://github.com/mcmillan/babel-plugin-transform-banter","homepage":null,"size":3,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":8141643,"name":"bartender","full_name":"mcmillan/bartender","owner":{"login":"mcmillan","id":1315466,"avatar_url":"https://avatars.githubusercontent.com/u/1315466?v=3","gravatar_id":"","url":"https://api.github.com/users/mcmillan","html_url":"https://github.com/mcmillan","followers_url":"https://api.github.com/users/mcmillan/followers","following_url":"https://api.github.com/users/mcmillan/following{/other_user}","gists_url":"https://api.github.com/users/mcmillan/gists{/gist_id}"[...]
